.fixed {
  position: fixed;
  top:0;
  left:50%;
  transform: translateX(-50%);
  z-index: 10;
  color: $white;
  box-sizing: border-box;
  background: #161b22;
  width:100%;
}
.fixed__nav {
  display: none;
  width: 100%;
  ul {
    display: flex;
    justify-content: flex-end;
    li {
      list-style: none;
      margin: 0 20px;
    }
    a {
      color: $white;
      font-weight: 600;
      text-decoration: none;
      &:hover {
        color: gray;
      }
    }
  }
}
.fixed__wrap {
  display: flex;
  align-items: center;
  height: 100%;
}

.fixed__hamburger {
  flex-basis: 24px;
  flex-shrink: 0;
  cursor: pointer;
  margin-right: 11.3%;
  span {
    display: block;
    background: #f0f6fc;
    height: 2px;
    border-radius: 4px;
    width: 100%;
    margin-bottom: 4px;
    &:nth-child(3) {
      margin-bottom: 0;
    }

  }
  &:hover {
    span {
      background: #58a6ff;
    }

  }


}

.fixed__profile {
 margin-left: auto;
  a {
    display: block;
    text-decoration: none;
  }
}



.header__menu {
  opacity: 0;
  height: 0px;
  transition: height ease-in-out 1s, opacity ease-in-out 0s;
}

.header__menu-hidden {
  opacity: 1;
  height: auto;
  transition:height ease-in 1s,opacity ease-in 1s;



}



.fixed__menu {
  ul {
    display: flex;
    flex-direction: column;
    padding: 0;
    li {
      margin: 20px 0;
      &:nth-child(4) {
        margin-bottom: 0;
      }
      a {
        color: $white;
        font-weight: 600;
        padding: 0 20px;
        text-decoration: none;

        &:hover {
          color: gray;
        }
      }
    }
  }
}

@media (min-width: 740px) {
  .header__menu, .fixed__hamburger {
    display: none;
  }

  .fixed__nav {
    display: block;
  }
}


